/* Hero.css */
.hero {
    position: relative;
    background-image: url('/oliveTree.jpg'); /* The background image */
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the background image */
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark semi-transparent overlay */
    color: white; /* White text color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.hero h1 {
    font-size: 3.5rem; /* Large text size for the heading */
    margin: 0;
    text-align: left;
}

.gold-underline-container {
    display: flex;
    justify-content: center;
}

.gold-underline {
    width: 100px;
}

.hero p {
    font-size: 1.5rem; /* Subheading size */
    margin: 20px 0;
    text-align: left;
}

.five-star-rating {
    width: 150px;
    padding-bottom: 40px;
 }

.cta-btn {
    background-color: #A6B35C; /* Button color */
    color: white; /* Text color inside the button */
    border: none;
    padding: 12px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #383818; /* Darker button color on hover */
}

/*Tablet screens*/
@media only screen and (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem; /* Large text size for the heading */
        margin: 0;
        text-align: left;
    }
    .hero p {
        font-size: 1.5rem; /* Subheading size */
        margin: 20px 0;
        text-align: left;
    }
}

/*Mobile Screens*/
@media only screen and (max-width: 600px) {
    .hero h1 {
        font-size: 1.3rem; /* Large text size for the heading */
        margin: 0;
        text-align: left;
    }
    .hero p {
        font-size: 0.9rem; /* Subheading size */
        margin: 20px 0;
        text-align: left;
    }
    .hero {
        height: 80vh; /* Full viewport height */
    }

}