.why-us-section {
    padding: 20px;
}

.reasons-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create a 4-column grid */
    gap: 20px;
}
.reason {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}