.iconsSection {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: solid #A6B35C 1px;
}

.icon1,.icon2, .icon3, .icons > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #383818;
}

/*Tablet screens*/
@media only screen and (max-width: 768px) {
    .iconsSection {
        padding: 15px;
        font-size: 15px;
    }
}

/*Mobile phone screens*/
@media only screen and (max-width: 600px) {
    .iconsSection {
        padding: 10px;
        font-size: 10px;
    }

}