.circle-image {
    width: 500px;
    height: auto;
}
.about-where-section {
    display: flex;
    flex-direction: row;
    padding: 80px;
    background-color: #fff;
    /*border: 1px solid black;*/
    align-items: center; /* Align items vertically in the middle */
}

.about-where-text {
    margin-left: 70px;
    text-align: left; /* Align text to the left */
}

.about-where-text h2 {
    margin-top: 0; /* Remove top margin on heading */
    margin-bottom: 10px; /* Optional: Add a bit of space below the heading */
    font-size: 3rem;
}

.about-where-text p {
    margin-top: 0; /* Remove any default margin at the top */
    margin-bottom: 0; /* Optional: Remove bottom margin for tight spacing */
    text-align: left; /* Ensure paragraph text is left-aligned */
    line-height: 1.6; /* Optional: Adjust line height for readability */
    margin-bottom: 50px;
}

.purple-underline {
    margin-bottom: 10px;
}