.product-detail-container {
    padding: 50px 50px 50px 130px;
    background-color: #F7F7F7;
    display: flex;
}

.product-detail h1,
.product-detail h2,
.product-detail h3,
.product-detail h4,
.product-detail h5,
.product-detail p {
     margin-left: 60px;
     color: #383818;
    text-align: left; /* Assuming you meant text-align */
}

.product-image {
    width: 400px;
}

.add-to-basket-btn {
    margin-left: 60px;
    background-color: #A6B35C; /* Button color */
    color: white; /* Text color inside the button */
    border: none;
    padding: 12px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.add-to-basket-btn:hover {
    background-color: #383818; /* Darker button color on hover */
}

/*Tablet screens*/
@media only screen and (max-width: 768px) {

}
/*Mobile Screens*/
@media only screen and (max-width: 600px) {
    .product-detail-container {
        padding: 0px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .product-detail h1,
    .product-detail h2,
    .product-detail h3,
    .product-detail h4,
    .product-detail h5,
    .product-detail p {
        margin: 10px;
    }
    .add-to-basket-btn {
        margin-left: 2px;
        margin-top: 30px;
    }
}