.footer {
    background-color: #333333;
    padding: 50px;
    color: white;
    display: flex;
}

/*.footer h1, h2, h3, h4, h5 {*/
/*    color: white;*/
/*}*/

.footer a {
    color: white !important;  /* Override default link color */
    text-decoration: none !important;  /* Remove underline */
}

.footer a:visited {
    color: white !important;  /* Visited links remain white */
}

.footer a:hover {
    color: #A6B35C !important;  /* Change color on hover */
}

.footer a:focus {
    color: #ffccff !important;  /* Focus color */
    outline: none;  /* Remove default outline */
}

/*!* Optional: Ensure paragraph text is aligned *!*/
.col2 p {
    text-align: left;
}

.col3 {
    margin-left: 20px;
}

.nameEthos {
    display: flex;
    flex-direction: column;
}

.col1 {
    margin-left: 300px;
}

ul {
    flex-direction: column;
}


/*Tablet screens*/
@media only screen and (max-width: 768px) {
    .footer {
        background-color: #333333;
        padding: 20px;
        color: white;
        display: flex;
        flex-direction: column;
    }
    .col3 {
        margin-left: 0px;
    }
    .col1 {
        margin-left: 0px;
    }
}
/*Mobile Screens*/
@media only screen and (max-width: 600px) {
    .footer {
        background-color: #333333;
        padding: 20px;
        color: white;
        display: flex;
        flex-direction: column;
    }
    .col3 {
        margin-left: 0px;
    }
    .col1 {
        margin-left: 0px;
    }
}