/* ShopSection CSS */
.shop-section {
    padding: 20px;
    background-color: #fff;
}

.shop-section h1 {
    text-align: center;
    color: #383818;
    padding-top: 40px;

}
.gold-underline-container {
    display: flex;
    justify-content: center;
}
.gold-underline {
    width: 100px;
}

.shop-section p {
    text-align: center;
    line-height: 31px; /* Optional: Adjust line height for readability */
    padding-bottom: 20px;
    padding-left: 328px;
    padding-right: 320px;
}
.shop-section h3 {
    color: #383818;
}
.filter-section h2 {
    color: #383818;

}

.product-list {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr); /* Create a 4-column grid */
    gap: 20px;
}

.product-card {
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product-card h5 {
    color: #383818;
}

/*.product-card p {*/
/*    font-size: 1rem;*/
/*    color: #555;*/
/*}*/

.button-container {
    display:flex;
    justify-content: center;
    padding: 50px;

}
.view-full-btn {
    background-color: #A6B35C; /* Button color */
    color: white; /* Text color inside the button */
    border: none;
    padding: 12px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}
.view-full-btn:hover {
    background-color: #383818; /* Darker button color on hover */
}